.container{
    border:1px solid black;
    height: 400px;
    width:600px;
    margin:auto;
    padding: 5px;
}
.box{
    display: inline-block;
    border: 1px solid black;
    height: 250px;
    width: 150px;
    text-align: center;
    margin-left: 25px;
}